<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Live
    </h1>
    <ol class="breadcrumb">
        <li><a href><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Live</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading text-center fa-2x">
                    <b>
                        <!--<a href="#" editable-text="project.name" onbeforesave="changeNameFn($data,project.id)">-->
                            {{ MainPro.name}}
                        <!--</a>-->
                    </b>
                </header>
            </section>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->