<div class="row form-group">
    <div class="col-md-12 text-right">
        <button class="btn btn-info" type="button" ui-sref="app.project.add">Add Proect</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">Projects</header>
            <div class="panel-body">
                <table class="table table-hover table-bordered" ng-show="projects.length">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Users</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "pro in projects| filter:search">
                            <td>{{$index + 1}}</td>
                            <td class="custom">
                                <a href ui-sref="app.projectsetting({id:pro.id})" uib-tooltip="Project Setting">
                                    {{pro.name}}
                                </a>
                            </td>
                            <td class="custom">
                                <span ng-repeat="usr in pro.users">
                                    {{ usr.name ||usr.user.name}}<span ng-if="!$last">,&nbsp;</span>
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-success" type="button" ui-sref="app.project.view({id:pro.id})" uib-tooltip="View Project"><i class="fa fa-eye"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="alert alert-danger" ng-show="projects.length == 0">
                    <div class="notification-info">
                        <ul class="clearfix notification-meta">
                            <li class="pull-left notification-sender">
                                <h3><span><a href>No Projects Found</a></span> please add more </h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div ui-view></div>